.header{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
padding-bottom: 5px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.header__black{
    background-color: #2E2418;
}

.header__logo{
    height: 50px;
    object-fit: contain;
}

.header__desc{
    color: yellow;
}