.row{
    margin-top: 10px;
    margin-left: 20px;
    /* color: white; */
}

.row__heading{
    color: white;
    font-size: 2rem;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    padding: 10px;
}

.row__posters::-webkit-scrollbar{
    opacity: 0;
}

.row__poster{
    object-fit: contain;
    max-height: 250px;
    width: 200px;
    margin-right: 20px;
    transition: all 350ms !important;
}

.row__poster:hover{
    transform: scale(1.09);
}

.row__posterlarge{
    max-height: 250px;
}

.row__posterlarge:hover{
    transform: scale(1.09);
}

.row__rating{
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: -20px;
    text-align: center;
    color: white;
    background-color: #7D6F62;
    font-weight: 900;
}


.row__video{
    padding-inline: 5px;
}